[Desktop Entry]
Name=scbeditor2
Version=2.0.2-13
Exec=/usr/bin/scbeditor2
Comment=This application manages bmp image to be converted to Apple II GS pic format.
Icon=/usr/share/icons/scbeditor2.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Development;
